* {
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
}
.site-main {
    flex-grow:1;
}
a {
    display: inline-block;
}
img {
    display: block;
}